* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0o2X9JBZoHNsVJZ_JLTezgEQ237OimiiqaA&usqp=CAU");
  background-repeat: fill;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: "Garamond";
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  background-color: #fff5ee;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea,
input[type=""] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px red;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
